 <!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2020-2021 <a href="https://www.facebook.com/abdelrahman.g.nofal">Ahmad EL-Naggar</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="text-primary" style="font-size: 2.5em;" href="https://www.linkedin.com/in/ahmed-el-naggar-665b9220a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-lg fa-linkedin"></i></a>
            <a target="_blank" style="font-size: 2.5em;" href="https://www.facebook.com/profile.php?id=100042257204914&mibextid=ZbWKwL"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-success" style="font-size: 3em;" href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </footer>